body,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 11vh;
}

header {
    background: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-size: 1.5em;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.1em;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    color: #444;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}